/* set default margin padding border and outline of all elements to 0 */
body,header,footer,html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, li, ul{
    margin:0;
    padding:0;
    border:0;
    outline:0;
}

.navbar {
  background-color: #2F6685;
  height: 10vh;
  width: 100vw;
  display: flex;
  position: sticky;
}

/*make the text from each section in the navbar bigger when you hover over it with the mouse*/
.menuHeader li:hover {
  transform: scale(1.1);
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  margin-left: 5vw;
  margin-right: 5vw;
  align-items: center;
  list-style-type: none;
  width: 90vw;
}

/* remove the underline from anchors (links) in the list */
.navbar ul li a{
  text-decoration: none;
  color: #F1D065;
}




.mainContainer {
  padding: 3vh 5vw;
  width: 100vw;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-y: scroll;
  height:80vh;
  background-color: black;
  color: green;
  position: fixed;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "home" "about" "whyCoding" "whyFAC";
}

.mainContainer p{
  width:100vw;
  text-align: justify;
}



#home {
  height:80vh;
  grid-area: home;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "welcome" "riddle";
}

.welcome {
  grid-area: welcome;
}

.riddle {
  display: flex;
  flex-direction: column;
  text-align: center;
  grid-area: riddle;
}

.riddle >* {
  padding: 1rem;
  margin: 1rem;
}

.hide {
  display: none;
}

#riddleAnswer {
  width: 50%;
  align-self: center;
}

#submit, #iGiveIn {
  background-color: #2F6685;
  color: #F1D065;
  width: 20%;
  align-self: center;
}

#submit:hover {
  transform: scale(1.1);
}

#iGiveIn:hover {
  transform: scale(1.1);
}

.smiling {
  display: none;
  height: 60vh;
}

.showImage {
  display: block;
}


#about {
  height:80vh;
  grid-area: about;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #2F6685;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the 'previous button' to the left */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots {
  text-align: center;
}

.active, .dot:hover {
  background-color: #717171;
}




#whyCoding {
  height:auto;
  grid-area: whyCoding;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.point1, .point2, .point3, .point4 {
  display: inline-block;
}




#whyFAC {
  height:auto;
  grid-area: whyFAC;
  text-align: center;
}

.1, .2, .3, .4 {
  display: inline-block;
}

/* this class is added when the page is decrypted*/
.isDecrypted {
  background-color: #F0EDCE;
  opacity: 0.7;
  color: black;
}

footer {
  background-color: #2F6685;
  height: 10vh;
  width: 100vw;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer img{
  height: 8vh;
  width: auto;
}





@media only screen and (max-width: 620px){
  .navbar {
    height: 15vh;
  }

  .navbar ul {
    justify-content: space-around;
    flex-direction: column;
  }

  footer.img{
    height: 5vh;
  }


}
